*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.cell{
	border: 1px solid black;
}


.resizeme{
	height: 60%;
	width: 70%;

}


.themecolor{
	background-color: #3cba54;
}


.projimg{
  height: 300px;
  width: 300px;
  padding-right: 10px;
  margin-left: -10px;
}




.overlayingcard{
	 position: relative; /* Sit on top of the page content */
    /*width: 960px;*/ /* Full width (cover the whole page) */
    /*height: 100px;*/ /* Full height (cover the whole page) */
    top: -200px; 

   /* background-color: rgba(0,0,0,0.5);*/ /* Black background with opacity */
   /* z-index: 1;*/ /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; *//* Add a pointer on hover */
}
.me{
	height: 300px;
	width: 200px;
}



.ppadding{
	/*padding-bottom: 200px;*/
}



.menufixed{
	position:fixed;
	margin: 20px;
}

.cardcontentcolor{
	background-color: #3cba54;
	color: white;
}



.meres{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}





/*this is my timeline*/

.educicon{
height: 30%;
width: 30%;

}


.eductxt{
	text-align: center;

}




#triangle-topleft {
	position: absolute;
  width: 0;
  height: 0;
  left: 153px;
  bottom: -0.2%;
  border-top: 302px solid transparent;
  border-right: 100px solid #3cba54;

}


.educmargination{
	margin-top: 10%;
	position: relative;
}





.about-sec{
  position: relative;
  top: -80px;


}








.hctrl{
  height: 350px;
}










/*progress bar*/
.progress {
  height: 15px;

}
























/*Mobile Styles*/
@media only screen and (max-width: 400px) 
{

.educdivider{
  margin: 20%;
}



.educupbox{
  /*position: absolute;*/
  bottom: 50px;
}

/*timeline*/
.vl {
  left: 50%;
    border-left: 6px solid green;
    height: 80%;
    position: absolute;
    top: -3%;
}



.prepatory {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  border-radius: 50%;
  left: -25px;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}




.highschool {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 280px;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}




.college {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 48%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}



.grad {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 73%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}


.training {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 97%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}









}


/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px)
 {


.educdivider{
  margin: 20%;
}



.educupbox{
  /*position: absolute;*/
  bottom: 50px;
}

/*timeline*/
.vl {
  left: 50%;
    border-left: 6px solid green;
    height: 80%;
    position: absolute;
    top: -3%;
}



.prepatory {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  border-radius: 50%;
  left: -25px;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}




.highschool {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 280px;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}




.college {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 48%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}



.grad {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 73%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}


.training {
  color: white;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -28px;
  top: 97%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}










}

/*Desktop styles*/
@media only screen and (min-width: 961px)
{

.educupbox{
	/*position: absolute;*/
	bottom: 50px;
}

/*timeline*/
.vl {
	left: 50%;
    border-left: 6px solid green;
    height: 80%;
    position: absolute;
    top: -3%;
}



.prepatory {
	color: white;
	font-size: 25px;
	position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  border-radius: 50%;
  left: -25px;
  /*right: 15%;*/

  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}




.highschool {
	color: white;
	font-size: 25px;
	position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -25px;
  top: 22%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}




.college {
	color: white;
	font-size: 25px;
	position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -25px;
  top: 46%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}



.grad {
	color: white;
	font-size: 25px;
	position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -25px;
  top: 70%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}


.training {
	color: white;
	font-size: 25px;
	position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -25px;
  top: 98%;
  line-height: 50px;
  text-align: center;
  background: #66bb6a;
  z-index: 1;
}







}



/*SKILLS OUTPUT*/

.html5{
	width: 85%;
}

.css3{
	width: 90%;
}

.jquery{
	width: 50%;
}

.php{
	width: 50%;
}

.laravel{
	width: 50%;
}

.communication{

	width: 95%;
}

.teamwork{

	width: 90%;
}


.creativity{

	width: 70%;
}

.dedication{

	width: 85%;
}


.sonyvegas{
	width: 85%;
}

.adobephotoshop{
	width: 75%;
}

.gitbash{
	width: 70%;
}


